<!DOCTYPE html>
<head>
    <style>
        body {
            font-family: sans-serif;
            margin-left: 4em;
            margin-top: 4em
        }

        body p {
            width: 70%;
            margin-left: 2em;
        }

    </style>
</head>

<body>
    <h1>Privacy voorwaarden/akkoordverklaring registratie We Care evenement NENS Power</h1>
    <p>Door het invullen en verzenden van het registratieformulier voor het We Care evenement bij NENS Power gaat u akkoord met ons privacybeleid en de verwerking van uw persoonsgegevens volgens de Algemene Verordening Gegevensbescherming (GDPR).</p>
    <h2>Welke gegevens verzamelen we?</h2>
    <ul>
        <li>Naam </li>
        <li>Bedrijfsnaam </li>
        <li>Funcite </li>
        <li>E-mailadres </li>
    </ul>
    <h2>Waarvoor gebruiken we uw gegevens?</h2>
    <p>We verzamelen uw gegevens om uw registratie voor het evenement te beheren en u belangrijke updates en informatie over het evenement te sturen. Uw persoonsgegevens worden uitsluitend gedeeld met interne medewerkers van NENS Power die betrokken zijn bij de organisatie van het evenement.
         We zullen uw gegevens niet delen met externe bedrijven of organisaties zonder uw uitdrukkelijke toestemming.</p>
    <h2>Hoe lang bewaren we uw gegevens?</h2>
    <p>Uw gegevens worden bewaard gedurende de periode die relevant is voor het evenement en voor het nakomen van eventuele wettelijke verplichtingen. Na afloop van het evenement worden uw persoonsgegevens verwijderd uit onze systemen,
         tenzij u expliciet heeft aangegeven dat u in de toekomst op de hoogte wilt worden gehouden van soortgelijke evenementen.</p>
    <h2>Uw rechten inzake gegevensbescherming.</h2>
    <p>U heeft te allen tijde het recht om uw persoonsgegevens in te zien, te corrigeren, te laten verwijderen, bezwaar te maken tegen de verwerking, of uw toestemming in te trekken.
         Als u gebruik wilt maken van een van deze rechten of als u nog vragen heeft over ons privacybeleid, kunt u contact opnemen met onze gegevensbeschermingsmedewerker via tom@nenspower.be.</p>
    <h2>Akkoordverklaring.</h2>
    <p>Door het invullen en verzenden van het registratieformulier gaat u expliciet akkoord met de verwerking van uw persoonsgegevens zoals hierboven beschreven. Om akkoord te gaan met ons privacybeleid, dient u de checkbox in het formulier aan te vinken:

        [ ] Ik ga akkoord met het privacybeleid van NENS Power en de verwerking van mijn persoonsgegevens volgens de GDPR-richtlijnen. [Lees ons privacy-beleid via: <a href="https://www.nenspower.be/privacy-policy/">Hier</a>]<br>

        
        Indien u niet akkoord gaat met ons privacybeleid, verzoeken we u vriendelijk om het registratieformulier niet in te vullen en geen gebruik te maken van de registratiemogelijkheid voor het evenement.</p>
    <h2>Onze gegevens</h2>
    <p>NENS Power - Organisator Evenement/Gegevens verwerkingsverantwoordelijke<br>

        Schaarbeekstraat 23B, 9120 Melsele<br>
        
        BE0420.300.505<br>
        info@nenspower.be
    </p>
    
</body>