{% load static %}

<html>
    <head>
        <style>
            .header h1 {
                font-weight: 400;

            }

            .content h2 {
                font-weight: 300;
                margin-left: 1em;
            }

        </style>
    </head>

    <body>
        <div class="header">
            <h1>Beste {{user}}!,</h1>
        </div>
        <div class="content">
            <h2> In de bijlage vindt u een QR code die zal dienen als uw persoonlijk toegangsticket </h2>
        </div>
    </body>

</html>