<!DOCTYPE html>
<head>
    <style>
        body {
            text-align: center;
            margin: 0em;
            font: 3em sans-serif;
            font-weight: 200;
        }
        .succes {
            display: inline-block;
            margin-left: auto;
            margin-top: 3vmax;
        }

        body h2 {
            margin-top: -1em;
            font-size: 2vmax;
        }

    </style>
    <script src="https://unpkg.com/@lottiefiles/lottie-player@latest/dist/lottie-player.js"></script>

</head>

<body>
    <div class="succes">
        <lottie-player src="https://lottie.host/4cd9ad8b-0ac4-4f0e-8a18-106f1c005c0f/cjLp1bjaxE.json" background="transparent"  speed="0.5"  style="width: 70vmin; height: 70vmin;"   autoplay></lottie-player>
        


    </div>
    <h2 style="font-weight: 200;">We kijken er naar uit om u te verwelkomen! <br>
    U vindt het toegangsticket in uw mail.</h2>
</body>